@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);
/* Start body */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:1,5em;
    margin:0;
    padding:0;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }
    .menu-primer li {
        border-right: 1px solid  #b4b4b4;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 15px;
    }
}
/* End body */

/* Start Debug */
.bg-teal {
    background-color: teal;
}
.bg-dongker {
    background-color: rgb(43, 112, 155);
}
.bg-abu {
    background-color:  rgb(214, 214, 214);
}
.bg-abumuda {
    background-color: #e3e4e5;
}
/* End Debug */

/* Start Container */
.container-full {
    margin: 0px auto;
    overflow: auto;
    width: 100%;
}
.container {
    margin: 5px auto;
    overflow: auto;
    width: 95%;
}
/* End Container */

/* Start Logo*/
.logo {
    text-align:center;
    border-radius:4px;
    padding:8px 5px;
    color:#ffffff;
    font-family: 'Trebuchet MS';
}
/* End Logo*/

/* Star Anchor/Hyperlink */
a:link,
a:visited {
    color:#4a9acf;
    text-decoration: none;
}
a:hover,
a:active {
    color:rgb(74, 124, 199);
    text-decoration: underline;
}
/* End Anchor/Hyperlink */

/* Star menu primer*/
.menu-primer ul {
    background-color: #051238;
    border-radius:4px;
    box-shadow:
     rgb(80, 77, 77),
     rgb(133, 131, 131);
}
.menu-primer li {
    text-align: center;
    border-right:1px solid  #b4b4b4;
    display: inline-block;
    margin:0 -4px;
}
.menu-primer a {
    color:#ffffff;
    font-size:13px;
    letter-spacing: 2px;
    display:inline-block;
    padding:10px 30px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color:#044c7c;
    color:black;
    text-decoration: none;
}
.menu-primer .active {
    background-color:rgb(58, 64, 255);
    color:blanchedalmond;
    text-decoration: none;
}
/* End menu primer*/

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color:#dfdfdf;
    border:1px solid rgb(148, 148, 148);
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}
.main-home-two {
    float: Right;
    width: 49.5%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 100px;
}
.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%;
}
/* End Sidebar */

/* Start Box */
.box-heading {
    background-color: #f6f8fa ;
    border: 1px solid #d1d5da ;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;  
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box-sub-heading {
    text-transform: uppercase;
}
.box-isi {
    background-color: #ffffff ;
    border: 1px solid #eaecef ;
    border-top: 0;
    padding: 10px 20px;
    margin: 0;
}
/* End Box */ 

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */

/* Start Layanan */
.layanan-table {
    border: 1px solid #d1d5da;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.layanan-table th {
    background-color: #f6f8fa;
}
/* End Layanan */

/* Start Form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px
}
input::placeholder,
textarea::placeholder {
    color: #c0c0c0;
    font-weight: 300px;
}
input[type="submit"],
.button {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,
    #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27,31,35, 0.2);
    border-radius: 4px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;   
}
/* End Form */

/* Start Contact Form */
.contact-form div {
    margin: 20px 0;

}
/* End Contact Form */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #f7f7f7;
    border-bottom: 1px solid #5d636b;
    border-top: 1px solid #5d636b;
    overflow: auto;
    padding: 6px 0;
    color: rgb(0, 0, 0);
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
    font-family: 'Times New Roman';
}
/* End Copyright */

/* Start Effect */
figure.snip1432 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 5px;
    min-width: 230px;
    max-width: 32%;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: left;
    display: inline-block;
  }
  figure.snip1432 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  figure.snip1432 img {
    opacity: 0.8;
    width: 100%;
    vertical-align: top;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    float: left;
  }
  figure.snip1432 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  figure.snip1432 figcaption > div {
    height: 50%;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  figure.snip1432 h2,
  figure.snip1432 h3 {
    margin: 0;
    position: absolute;
    left: 0;
    padding: 0 30px;
    text-transform: uppercase;
  }
  figure.snip1432 h2 {
    font-weight: 900;
    top: 0;
  }
  figure.snip1432 h3 {
    font-size: 1em;
    bottom: 0;
    font-weight: 500;
  }
  figure.snip1432 h3:nth-of-type(2) {
    opacity: 0;
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
  }
  figure.snip1432 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  figure.snip1432:hover img,
  figure.snip1432.hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  figure.snip1432:hover figcaption h3:first-of-type,
  figure.snip1432.hover figcaption h3:first-of-type {
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    opacity: 0;
  }
  figure.snip1432:hover figcaption h3:nth-of-type(2),
  figure.snip1432.hover figcaption h3:nth-of-type(2) {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
/* End Effect */

/* Start Untuk Hp */
@media only screen and (max-width: 480px) {
    .main-home-one {
       /* float: left; */
        width: 100%;
    }
    .main-home-two {
       /* float: Right; */
        width: 100%;
    }
}
/* End Untuk Hp */